p {
  font-family: 'Grenze', serif;
  text-align: center;
  margin: 120px;
  font-size: 60px;
  color: #ffffff;
    }

h1 {
  font-family: 'Lato', sans-serif;
    }

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  }
}
.one {
  background: #efdefe;
}
.two {
  background: #efdefe;
}
.three {
  background: #0bbaa0;
}
.four {
  background: #00dfdf;
}
.five {
  background: #06ceed;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;

:: -webkit-scrollbar {
  display: none;
}
